 .card {
  border: 1px solid blue;
  min-height: 80px;
  font-size: 2em;
  font-weight: 600;
  padding-top: 15px;
  display: inline-block;
  width:100vw;
}

#template {
  display: none;
}

.header1 {
  text-align: center;
}

#inputSection {
  text-align: center;
}

img {
  max-width: 100px;
  height: 60px;
}

.remove {
  width: 60px;
  background-color: red;
  height: 42px;
  border-radius: 40%;
  border: 1px solid grey;

}

.delete {
  color: white;
}

